<div id="wrapper" *ngIf="(list$ | async) as list">
  <ng-container *ngIf="list.length != 0; then tableContent; else emptyContent">
  </ng-container>

  <ng-template #emptyContent>
    <mat-card>
      Nincs találat
    </mat-card>
  </ng-template>

  <ng-template #tableContent>
    <mat-table [dataSource]="list!" class="mat-elevation-z8">

      <ng-container matColumnDef="id">
        <mat-header-cell *matHeaderCellDef> Id </mat-header-cell>
        <mat-cell *matCellDef="let element"> {{element.id}} </mat-cell>
      </ng-container>

      <ng-container matColumnDef="name">
        <mat-header-cell *matHeaderCellDef> Name </mat-header-cell>
        <mat-cell *matCellDef="let element"> {{element.name}} </mat-cell>
      </ng-container>

      <ng-container matColumnDef="category">
        <mat-header-cell *matHeaderCellDef> Category </mat-header-cell>
        <mat-cell *matCellDef="let element"> {{element.category}} </mat-cell>
      </ng-container>

      <ng-container matColumnDef="description">
        <mat-header-cell *matHeaderCellDef> Description </mat-header-cell>
        <mat-cell *matCellDef="let element"> {{element.description}} </mat-cell>
      </ng-container>

      <ng-container matColumnDef="actions">
        <mat-header-cell *matHeaderCellDef></mat-header-cell>
        <mat-cell *matCellDef="let element" (click)="openDialog(element)">
          <button mat-button>
            <mat-icon>edit</mat-icon>
          </button>
          <button mat-button (click)="confirmDelete(element.name, element.id)">
            <mat-icon>delete</mat-icon>
          </button>
        </mat-cell>
      </ng-container>

      <mat-header-row *matHeaderRowDef="displayedColumns"></mat-header-row>
      <mat-row *matRowDef="let row; columns: displayedColumns; let i = index"
        [ngStyle]="{'background-color': i%2===0? 'white': '#dedede'}">
      </mat-row>
    </mat-table>

  </ng-template>

</div>